.slide-title {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 35px;
}

.carousel-item::before {
    content: "";
    display: black;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: black;
    opacity: 0.5;

}


.m-my {
    margin-top: 120px;
    margin-bottom: 80px;
}

.m-my-s {
    margin-left: 200px;
    margin-top: 80px;
    margin-bottom: 100px;
}

.company-i {
    margin-bottom: 100px;
}

.company img {
    width: 120px;

}

@media screen and (max-width:992px) {
    .company {
        display: none;
    }

}